.details {
    max-width: 400px;
    text-align: center;
    margin: 24px auto;
}

div.example-button-row {
    position: relative;
    left: 1350px;
    bottom: 60px;
    margin-right: 8px;
}

span {
    position: absolute;
    top: 30px;
    right: 250px;
}